.photo-grid {
  margin: 0 auto;
  max-width: calc(1280px - 48px*2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .photo-grid {
    max-width: calc(100% - 48px*2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px 14px;
    margin: 0 48px;
  }
}

@media screen and (max-width: 950px) {
  .photo-grid {
    max-width: calc(100% - 24px*2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px 16px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    max-width: calc(100% - 16*2px);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    margin: 0 16px;
  }
}