.place__image {
  margin: 0;
  max-height: 460px;
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .place__image {
    max-height: 440px;
  }
}

@media screen and (max-width: 650px) {
  .place__image {
    max-height: 340px;
  }
}

@media screen and (max-width: 600px) {
  .place__image {
    height: 100%;
  }
}